 <%= javascript_include_tag 'http://d3js.org/d3.v3.min.js' %>
   <%= javascript_include_tag 'http://d3js.org/queue.v1.min.js' %>
   <%= javascript_include_tag 'http://d3js.org/topojson.v1.min.js' %>
   <%= javascript_include_tag 'home.js' %>
   <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB8DtgxN-54ihst44u0YYCar9jfa2Ra4W4&sensor=false' %>
      <%= javascript_include_tag 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' %>

<div id='content'>
	<h3><b>Data Simulator</h3></b>
			<%= javascript_tag do %>
				var map;
				var image = 'assets/db.png';
				var activeIcon = 'assets/db2.png';
				var numDbs=0;
				var datacenters={};
				var csvInfo=[]
				var conId;
				var connections={};

				//need a way to delete individual markers
				var id;

				function initialize() {
				  var mapOptions = {
				    zoom: 2,
				    center: new google.maps.LatLng(0,0)
				  };
				  map = new google.maps.Map(document.getElementById('Layer1Main'),
				      mapOptions);

				}

				google.maps.event.addDomListener(window, 'load', initialize);
				
				//This function allows you to create a db marker.

				function newMarker(){
					var db;
					db= new google.maps.Marker({
			    	map:map,
			    	draggable:true,
			    	animation: google.maps.Animation.DROP,
			    	position: new google.maps.LatLng(0,0),
			    	icon:image,
			    	otherInfo: "This is other properties of the db"
			  		});
			  		
			  		numDbs=numDbs +1;
			  		document.getElementById('numDBs').innerHTML = "Number of Datacenters: " + numDbs;
					id = db.__gm_id
    				datacenters[id] = db; 
    				
    				google.maps.event.addListener(db, "rightclick", function (point) { id = this.__gm_id; delMarker(id) });
    				google.maps.event.addListener(db, "click", function () {id= this.__gm_id; dbIcon(id) });

				}


				var dbIcon=function(id){
					marker = datacenters[id]; 
					if (marker.icon==activeIcon){
						marker.setIcon(image);
					}
					else{
						marker.setIcon(activeIcon);
					}
				}
				//Delete individual db markers
				var delMarker = function (id) {
				    marker = datacenters[id]; 
				    marker.setMap(null);
				    delete datacenters[id];
				   	numDbs=numDbs -1;
			  		document.getElementById('numDBs').innerHTML = "Number of Datacenters: " + numDbs;
				}
				function collection(){}


				// Sets the map on all markers in the array.
				function setAllMap(map) {
					for (db in datacenters) {
				    	if (!datacenters.hasOwnProperty(db)) {
				        //The current property is not a direct property of p
				        continue;
				    	}
				    //Do your logic with the property here
				    	datacenters[db].setMap(map);

					}
					for (connection in connections) {
				    	if (!connections.hasOwnProperty(db)) {
				        //The current property is not a direct property of p
				        continue;
				    	}
				    //Do your logic with the property here
				    	connections[connection].setMap(map);

					}

				}

				//Removes all Datacenters from the map
				function clearMarkers() {
  					setAllMap(null);
				}

				// Deletes all datacenters in the array by removing references to them.
				function deleteMarkers() {
				  clearMarkers();
				  datacenters = {};
				  connections={};
				  numDbs=0;
			  	  document.getElementById('numDBs').innerHTML = "Number of Datacenters: " + numDbs;
				}


				//Gather all Database information
				function csvData(){
				for (db in datacenters) {
				    if (!datacenters.hasOwnProperty(db)) {
				        //The current property is not a direct property of p
				        continue;
				    }
				    //Do your logic with the property here
				    csvInfo.push([datacenters[db].getPosition(),datacenters[db].otherInfo]);
					}
					console.log(csvInfo);
				}

				//Create network connections between db markers
				function networkConnect(){
					var path=[];
					for (db in datacenters) {
				    	if (!datacenters.hasOwnProperty(db)) {
				        //The current property is not a direct property of p
				        continue;
				    	}
					    if (datacenters[db].icon==activeIcon){
					    	path.push(datacenters[db].getPosition());
					    }
				    } 
				    var connection = new google.maps.Polyline({
					  path:path,
					  map:map,
					  strokeColor:"#0000FF",
					  strokeOpacity:0.8,
					  strokeWeight:2
					});
					conId = connection.__gm_id
    				connections[conId] = connection; 
					
				}


	      <% end %>
		<div id='content'> 
			<div id="Layer1Main" class="span12">
			</div>
			<h4>Simulation Dashboard</h4>

			<input type="image" src="assets/db.png" id="dbMarker" onclick="newMarker()" value="Create DB"><br>
	   		<h4><p id="numDBs">Number of Datacenters: 0 </p></h4>
	   		<input type="image" src="assets/networkLine.png" onclick="networkConnect();" value="Connect">
	        <input onclick="deleteMarkers();" type=button value="Delete All DBs">
			<input id="runSim"  type="image" src="assets/runIcon.png" onclick="csvData()" value"Run Simulation">


		</div>
			
</div>
