// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

path {
  stroke: grey;
  stroke-width: 1.25px;
  fill: white;
  }
.background {
  fill: none;
  pointer-events: all;
}
svg {
	margin-left:10%;
	width:800px;
	height:600px;
	boarder-color:black;
}
g {
	
	width:700px;
	height:600px;
}
#CADUserGraph {
 float: left;
 }
.tabmenu {
	list-style-type:none;
}
#Layer1Main{
	float:left;
	height:450px;
	width:800px;
	margin-left:7.5%;
}
.chart div {
 font: 10px sans-serif;
 background-color: steelblue;
 text-align: right;
 padding: 3px;
 margin: 1px;
 color: white;

}
body {
  font: 10px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart { 
  background: #fff;
}

.bar {
  fill: steelblue;
}
 
.x.axis path {
  display: none;
}