<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "CyberVisual" %></title>
   <!-- Javascripts
    ================================================== -->
   <%= javascript_include_tag :jquery %>
   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag 'http://d3js.org/d3.v3.min.js' %>
   <%= javascript_include_tag 'http://d3js.org/queue.v1.min.js' %>
   <%= javascript_include_tag 'http://d3js.org/topojson.v1.min.js' %>
   <!-- Stylesheets
    ================================================== -->
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CyberVisual</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><%= link_to 'Home', root_path %></li>
              <li><a href="#about">About</a></li>
<!--               <li><a href='/datacenters'>Simulation Data</a></li>
 -->            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="container">

    <%= yield %>

    </div> <!-- /container -->
  </body>
</html>

            