<h1>Global Datacenter Simulation Data</h1>
<table>
	<tr>
		<th>DICD</th>
		<th>Country</th>
		<th>Hour</th>
		<th>Minute</th>
		<th>Logged CAD Users</th>
		<th>Operations in Execution</th>
		<th>Active CAD Users</th>
		<th>FCS CPU</th>
		<th>CAD Connect</th>
		<th>CAD Search</th>
		<th>CAD Explore</th>
		<th>CAD Apply Filter</th>
		<th>CAD 3D Search</th>
		<th>CAD Select</th>
		<th>CAD Validate</th>
		<th>CAD Open</th>
		<th>CAD Update</th>
		<th>Logged VIS Users</th>
		<th>Operations in Execution</th>
		<th>Active VIS Users</th>
		<th>VIS Connect</th>
		<th>VIS Search</th>
		<th>VIS Explore</th>
		<th>VIS Apply Filter</th>
		<th>VIS 3D Search</th>
		<th>VIS Select</th>
		<th>VIS Validate</th>
		<th>VIS Open</th>												
		<th>VIS Update</th>
		<th>VIS Apply Filter</th>
		<th>VIS 3D Search</th>
		<th>VIS Select</th>
		<th>VIS Validate</th>
		<th>VIS Open</th>
		<th>VIS Update</th>									
	</tr>
	@datacenter.each do |datacenter|
	<tr>								
		<th>datacenter.dcid</th>
		<th>datacenter.country</th>
		<th>datacenter.hour</th>
		<th>datacenter.minute</th>
		<th>datacenter.cadUsers</th>
		<th>datacenter.cadOperationExcuation</th>
		<th>datacenter.activeCadUsers</th>
		<th>datacenter.fcscpu</th>
		<th>datacenter.cadConnect</th>
		<th>datacenter.cadSearch</th>
		<th>datacenter.cadExplore</th>
		<th>datacenter.cadApplyFilter</th>
		<th>datacenter.cadDsearch</th>
		<th>datacenter.cadSelect</th>
		<th>datacenter.cadValidate</th>
		<th>datacenter.cadOpen</th>
		<th>datacenter.cadUpdate</th>
		<th>datacenter.visUsers</th>
		<th>datacenter.visOperationsExcuation</th>
		<th>datacenter.visConnect</th>
		<th>datacenter.visSearch</th>
		<th>datacenter.visExplore</th>
		<th>datacenter.visApplyFilter</th>
		<th>datacenter.visDSearch</th>
		<th>datacenter.visSelect</th>
		<th>datacenter.visOpen</th>
		<th>datacenter.visUpdate</th>
	</tr>